html{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   background-color: #c9c9c9;
}

.header{
   background-color: coral;
}

h1{
   margin: 0;
   text-align: center;
   padding: 30px;
   font-size: 40px;
   font-family: sans-serif;
}